USE [Eintech]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 08/07/2020 12:52:50 ******/
DROP TABLE IF EXISTS [dbo].[Customers]
GO
USE [master]
GO
/****** Object:  Database [Eintech]    Script Date: 08/07/2020 12:52:50 ******/
DROP DATABASE IF EXISTS [Eintech]
GO
/****** Object:  Database [Eintech]    Script Date: 08/07/2020 12:52:50 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Eintech')
BEGIN
CREATE DATABASE [Eintech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Eintech', FILENAME = N'/var/opt/mssql/data/Eintech.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Eintech_log', FILENAME = N'/var/opt/mssql/data/Eintech_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Eintech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Eintech]
GO
USE [Eintech]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 08/07/2020 12:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created] [datetime] NOT NULL,
	[lastUpdated] [datetime] NOT NULL,
	[firstName] [varchar](100) NOT NULL,
	[lastName] [varchar](100) NOT NULL
) ON [PRIMARY]
END
GO
USE [master]
GO
